[core]
	pager = less -F -X
	excludesfile = /Users/endurance/.gitignore_global

[include]
	path = ~/.gitconfig_local

# [user]
# 	name = Alexandr Savin
# 	email = savin@restream.rt.ru

# [github]
#   	user = LionsHead

[credential]
    helper = osxkeychain

[color]
		diff = auto
		status = auto
		branch = auto
		ui = true

[push]
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[alias]
	# List aliases
	aliases = config --get-regexp alias

	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
	diffc = diff --cached

	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v

	# Show last tag
	ltag = ! bash -c 'git tag -l | sort -V | tail -1'

	# Switch to a branch, creating it if necessary
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

	# Commit all changes
	cam = !git add -A && git commit -avm

	# Amend the currently staged files to the latest commit
	amend = !git add -A && commit --amend --reuse-message=HEAD

	c = commit
	m = merge --no-ff
	br = branch
	co = checkout
	up = pull --rebase
	poh = push origin head
	unstage = reset HEAD --
	discard = reset --hard HEAD

	# View abbreviated SHA, description, and history graph of the latest 20 commits
	last = log --pretty=oneline -n 20 --graph --abbrev-commit --date=short
	# Short log
	l = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

	# View the current working tree status using the short format
	s = status -s
	st = status

	# Remove branches that have already been merged with master
	del-merged = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

	# View branches that don't merged with develop
	no-merged = branch -r -v --no-merged origin/develop

	# Squash commits
	squash = rebase --interactive --autosquash

