#!/bin/bash

# Example aliases

alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"

# git
alias gs='git status -sb -uall'
alias gd='git diff --color | sed "s/^\([^-+ ]*\)[-+ ]/\\1/" | less -r'
alias gb="git branch"
alias gc="git commit"
alias gcam="git add -A && git commit -m"
alias gm="git merge --no-ff"
alias gl="git log --pretty=oneline"

# ruby bundler
alias be="bundle exec"
alias ber="bundle exec rake"
alias bec="bundle exec cap"

# docker commands
alias dcrun="docker-compose run --rm --service-ports web bash"
alias dcbash="docker-compose run --rm web bash"
alias dc="docker-compose"

# docker-sync
alias dsync="docker-sync start"
alias ds="docker-sync"
